html {
    background-color: white;
    font-family: 'Manrope', sans-serif;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
  
.pre-questionaire,.questions_afterwards {
    margin-top: 2em;
    height: 200px;
    width: 90%;
    top: 20%;
    margin-left: 5%;
}

.intro, .outro {
    margin-top: 4em;
    height: 200px;
    width: 60%;
    top: 20%;
    margin-left: 20%; 
}

.experiment_intro {
    margin-top: 4em;
    height: 200px;
    width: 50%;
    top: 20%;
    margin-left: 25%; 
}

h1, button{
    text-align: center;    
}

p {
    font-size: 20;
    text-align: justify;
}

button[type=button] {
    padding: 10.5px 30px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: manrope;
    font-size: 20px;
    background: rgb(0,0,0,0.05);
    border: none;
    color: rgb(0,0,0);
    margin: 20px;
}
  
button:hover {
    color: grey;
}
  
button:active {
    color: white;
}

button:focus{
    outline: none;
}

input[type="text"],input[type="number"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: black;
}

.likert li {
    float: left;
    text-align: left;
    list-style-type: none;
    font-size: 18px;
    text-align: center;
}

input[type="radio"] {
    margin-left: 40%;
    margin-right: 40%;
}

label, input {
    display: block;
}

label {
    margin-top: 5.5em;
    clear: both;
    font-size: 20px;
    margin-bottom: 2em;
    font-weight: bold;
}

img {
    width: 100%;
    margin-top: 6em;
}

.information_text {
    text-align:center;
}

.likertDiscription {
    width: 22%;
}

.likertOption {
    width: 7%;
}

#hinweisText{
    margin-bottom: 2em;
}

.top-footer-timer {
    display: grid;
    grid-template-columns: 200px auto 15%;
    background-color: rgba(255,255,255,0.85);
    border-bottom: solid rgba(200,0,0,0.6);
    position: fixed;
    width: 100%;
}

#url, .footer-el3 {
    text-align: center;
}

h2 {
    font-size: 15px;
    font-weight: 100;
}

#hinweisTextAfterQuestionaire {
    padding-bottom: 10px;
}

@media (min-width: 900px) {
    img {
      width: 80%;
      margin-left: 10%;
    }

    .pre-questionaire, .questions_afterwards {
       margin-top: 2em;
       height: 200px;
       width: 80%;
       top: 20%;
       margin-left: 10%;
    }
   
}

@media (min-width: 1200px) {

    img {
        width: 70%;
        margin-left: 15%;
    }

    .pre-questionaire, .questions_afterwards {
       margin-top: 2em;
       height: 200px;
       width: 70%;
       top: 20%;
       margin-left: 15%;
    }
   
}

@media (min-width: 1500px) {

    img {
        width: 56%;
        margin-left: 22%;
    }

    .pre-questionaire, .questions_afterwards {
       margin-top: 2em;
       height: 200px;
       width: 56%;
       top: 20%;
       margin-left: 22%;
    }
   
}

.tooltip {
	color: #c32e04;
	text-decoration: underline;
	cursor: help;
	position: relative;
}

.tooltip span[role=tooltip] {
	display: none;
}

.tooltip:hover span[role=tooltip] {
	display: block;
	position: absolute;
	bottom: 1em;
	left: -6em;
	width: 15em;
	padding: 0.5em;
	z-index: 100;
	color: #000;
	background-color: #ffebe6;
	border: solid 1px #c32e04;
	border-radius: 0.2em;
}